#
# Copy this file to app.yaml.  Fill in your appengine application name:
#
application: [app-name]
version: 0.1.006
runtime: python
api_version: 1

handlers:

- url: /test.*
  login: admin
  script: gaeunit.py

- url: /login.*
  script: pcs/appengine_app.py
  secure: always

- url: /session.*
  script: pcs/appengine_app.py
  secure: optional

- url: /styles
  static_dir: styles

- url: /cookies
  script: pcs/input/wsgi/login.py

- url: /.*
  script: pcs/appengine_app.py
  secure: never

