{% extends "session_base.html" %}

{% block title %} My Locations {% endblock %}

{% block content %}
  
  <style>
    .locations {
    }
    
    .location {
    }
    
    .location:first-child {
    }
    
    .reserve-near-link {
/*      text-decoration: none;
      color: inherit;*/
      display: block;
      width: 100%;
/*      text-align: left;
      padding: 0.5em;*/
    }
    
    .reserve-near-link > span {
      display: block;
    }
    
    .edit-link {
      display: block;
      float: right;
      height: 100%;
    }
    
    .location-name {
    }
    
    .location-desc {
      font-size: 0.7em;
      font-weight: normal;
      display: none;
    }
    
    .location label {
      display: inline-block;
    }
    
    #my-current-location {
      display: none;
    }
  </style>
  
  <h1>New Reservation</h1>
  
  <form action="/locations/.form/availability.html" method="GET">
    From:
    <input name="start_date" type="date" value="{{ start_time|date:"Y-m-d" }}" size="10" />
    at
    <input name="start_time" type="time" value="{{ start_time|time:"H:i" }}" size="5" step="900" />
    <br />
    
    Until:
    <input name="end_date" type="date" value="{{ end_time|date:"Y-m-d" }}" size="10" />
    at
    <input name="end_time" type="time" value="{{ end_time|time:"H:i" }}" size="5" step="900" />
    
    <h2>Near...</h2>
    <ul class="locations">
      <li id="my-current-location" class="location">
      </li>
    {% for location in locations %}
      <li class="location">
        <input type="radio" name="location_id" id="location_id_{{ location.id }}" value="{{ location.id }}" />
        <label for="location_id_{{ location.id }}">
          <span class="location-name">{{ location.name }}</span>
          <span class="location-desc">{{ location.desc }}</span>
        </label>
      </li>
    {% endfor %}
    </ul>
    
    <input type="submit" value="Find Vehicles" />
    
  </form>
    
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>
    function success(position) {
      var curloc = $('#my-current-location')
      curloc.html('<input type="hidden" name="latitude" value="' + position.coords.latitude + '" />' +
        '<input type="hidden" name="longitude" value="' + position.coords.longitude + '" />' +
        '<input type="radio" name="location_id" id="location_id_current" value="" checked /> ' +
        '<label for="location_id_current">' +
          '<span class="location-name">Current Location</span>' + 
          '<span class="location-desc"></span>' +
        '</label>')
      curloc.css('display','block')
    }
    
    function findlocation() {
      var curloc = $('#my-current-location')
      curloc.html(
          '<span class="location-name">Finding Location...</span>')
      curloc.css('display','block')
      
      navigator.geolocation.getCurrentPosition(success, error);
    }
    
    function error(msg) {
      var curloc = $('#my-current-location')
      curloc.html(
          '<span class="location-name">' + msg + '</span>')
      curloc.css('display','block')
    }
    
    if (navigator.geolocation) {
      findlocation();
    } else {
      error('Finding current location not supported');
    }
  </script>
  
{% endblock content %}

