{% extends "session_base.html" %}

{% block title %} Available Cars {% endblock %}

{% block content %}
  
  <style>
    .available-vehicle {
      background-color: #efe;
    }
    .unavailable-vehicle {
      background-color: #fee;
    }
    .partially-available-vehicle {
      background-color: #ffe;
    }
    
    .availability-options span,
    .availability-options a {
      display: block;
    }
  </style>
  
  <h1>Available Cars</h1>
  
  <div class="availability-options">
    <span>Showing cars near {{ location.name }}</span>
    <span>from {{ start_time|time }} {{ start_time|date:"D M d Y" }}</span>
    <span>until {{ end_time|time }} {{ end_time|date:"D M d Y" }}</span>
    <a href="/locations.html">Change Options</a>
  </div>
  
  {% regroup vehicles by pod as pods %}
  {% for pod in pods %}
    <div class="available-pod">
      <h2 class="pod-name">{{ pod.grouper.name }}</h2>
      <ul class="pod-vehicles">
      {% for vehicle in pod.list %}
        {% ifequal vehicle.availability 0 %}
          <li class="unavailabe-vehicle">
        {% else %}{% ifequal vehicle.availability 1 %}
          <li class="available-vehicle">
        {% else %}
          <li class="partially-available-vehicle">
        {% endifequal %}{% endifequal %}
          
          <span>{{ vehicle.make }} {{ vehicle.model }}</span>
          <div class="vehicle-stipulations">
            {% if vehicle.available_at %}
              <span>Available at {{ vehicle.available_at|time }}</span>
            {% endif %}
            {% if vehicle.available_until %}
              <span>Available until {{ vehicle.available_until|time }}</span>
            {% endif %}
          </div>
        </li>
      {% endfor %}
      </ul> <!-- pod-vehicles -->
    </div>
  {% endfor %}
  
{% endblock content %}

