{% extends "session_base.html" %}

{% block title %} Reservations {% endblock %}

{% block content %}
  
  <style>
    .reservation-time {
      font-weight: normal;
      font-size: 0.7em;
      display: block;
    }
    .reservation-price {
      font-size: 0.7em;
      display: block;
      text-align: right;
    }
  </style>
  
  <h1>Reservations</h1>
  
  {% regroup reservations by status as reservations_by_status %}
  {% for reservation_group in reservations_by_status %}
    <div class="reservation-group">
      <h2 class="status-name">
        {% ifequal reservation_group.grouper 0 %}
            Current Reservation:
        {% else %}{% ifequal reservation_group.grouper 1 %}
            Upcoming Reservations:
        {% else %}
            Past Reservations:
        {% endifequal %}{% endifequal %}
      </h2>
      <ul class="reservations">
      {% for reservation in reservation_group.list %}
        <li>
          <span>{{ reservation.vehicle.model }} at {{ reservation.pod.name }}</span>
          <span class="reservation-time">from {{ reservation.start_time|time }}, {{ reservation.start_time|date }}</span>
          <span class="reservation-time">until {{ reservation.end_time|time }}, {{ reservation.end_time|date }}</span>
          <span class="reservation-price">for ${{ reservation.price.total_amount }}</span>
          
          {% ifequal reservation.status 0 %}
            <form method="GET" action="/reservations/{{ reservation.id }}/editor.html">
              <input type="hidden" name="start_time" value="{{ reservation.start_stamp }}" />
              <input type="hidden" name="end_time" value="{{ reservation.end_stamp }}" />
              <input type="hidden" name="status" value="{{ reservation.status }}" />
              <input type="submit" value="Edit Reservation" />
            </form>
          {% endifequal %}
          
          {% ifequal reservation.status 1 %}
            <form method="GET" action="/reservations/{{ reservation.id }}/editor.html">
              <input type="hidden" name="start_time" value="{{ reservation.start_stamp }}" />
              <input type="hidden" name="end_time" value="{{ reservation.end_stamp }}" />
              <input type="hidden" name="status" value="{{ reservation.status }}" />
              <input type="submit" value="Edit Reservation" />
            </form>
            <form method="GET" action="/reservations/{{ reservation.id }}/canceller.html">
              <input type="hidden" name="start_time" value="{{ reservation.start_stamp }}" />
              <input type="hidden" name="end_time" value="{{ reservation.end_stamp }}" />
              <input type="hidden" name="status" value="{{ reservation.status }}" />
              <input type="submit" value="Cancel Reservation" />
            </form>
          {% endifequal %}
        </li>
      {% endfor %}
      </ul> <!-- pod-vehicles -->
    </div>
  {% endfor %}
  
{% endblock content %}

