{% extends "session_base.html" %}

{% block title %} Vehicle Availability {% endblock %}

{% block content %}
  
  <style>
    table {
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: auto;
      margin-right: auto;
    }
    
    td {
      text-align: left
    }
    
    td:first-child {
      font-weight: bold;
    }
    
    td:last-child {
      text-align: right;
    }
    
    tr:last-child td:last-child {
      border-top: 1px solid black;
    }
    
    span {
      display: block;
    }
    
  </style>
  
  <h1>Vehicle Availability</h1>
  
  <div>
    <span>A {{ vehicle.model }}</span>
    <span>from {{ start_time|time }} {{ start_time|date:"D M d Y" }}</span>
    <span>until {{ end_time|time }} {{ end_time|date:"D M d Y" }}</span>
    <table>
      <tr>
        <td>Estimated cost:</td><td>${{ price.total_amount|floatformat:2 }}</td>
      </tr>
      <tr>
        <td>Available balance:</td><td>${{ price.available_balance|floatformat:2 }}</td>
      </tr>
      <tr>
        <td>Amount due:</td><td>${{ price.amount_due|floatformat:2 }}</td>
      </tr>
    </table>
    
    <form method="POST" action="/reservations.html">
      <input type="hidden" name="start_time" value="{{ start_stamp }}" />
      <input type="hidden" name="end_time" value="{{ end_stamp }}" />
      <input type="hidden" name="vehicle_id" value="{{ vehicle.id }}" />
      
      <input type="hidden" name="add[stack_pk]" value="vehicle.id" />
      <input type="hidden" name="mv_action" value="add" />
      <input type="hidden" name="add[tid]" value="10" />
      <input type="submit" value="Reserve It" />
    </form>
  </div>
  
{% endblock content %}

